numpy
pandas
scipy
matplotlib
torch==2.3.1+cu121
torchvision==0.18.1+cu121
torchaudio==2.3.1+cu121
transformers
accelerate
notebook
tqdm


--extra-index-url https://download.pytorch.org/whl/cu121

scikit-image
scikit-learn
tqdm
# Add Lark for grammar parsing
lark
